.button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 80px;
    height: 80px;
    border: 2px #FFFFFF solid;
    border-radius: 50%;
    background: transparent;
    z-index: 10;
}

.hideButton{
    display:none;
}

.button img{
    filter:invert(100%) sepia(0%) saturate(3152%) hue-rotate(12deg) brightness(115%) contrast(107%);
    background: transparent;
}


.button:active img{
    filter: invert(4%) sepia(4%) saturate(5419%) hue-rotate(187deg) brightness(92%) contrast(93%);
}

.button:active{
    transition: background 0s ease, color 0s ease;
    background-color: #FFFFFF;
}

.button:not(:active){
    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

@media only screen and (max-width : 480px) {
    .button{
        right: 1rem;
        bottom: 1rem;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width : 320px) {
    .button{
        width: 35px;
        height: 35px;
    }
}